# Prod dependencies
fastapi
uvicorn[standard]
httpx
loguru
python-dotenv
tiktoken

# Utility scripts dependencies (convert_tokens.py, etc.)
cbor2
requests

# Testing dependencies
pytest
pytest-asyncio
hypothesis