# Prod dependencies
fastapi
uvicorn[standard]
httpx
loguru
python-dotenv
python-multipart
tiktoken

# Utility scripts dependencies (convert_tokens.py, etc.)
cbor2
requests
textual

# Testing dependencies
pytest
pytest-asyncio
hypothesis